{articles}
<table width="100%" align="center" class="articletable">
	<tr>
		<th><b><a href="{art.link2}">{art.title}</a></b></th>
	</tr>
	<tr>
		<td class="articletext read_font">
			{art:image}<a href="{art.image}" target="_blank"><img src="{art.thumb_image}" align="left" class="article_image" /></a>{/art:image}
			{art.description}
		</td>
	</tr>
	<tr>
		<td>
			Категория: {art:catlink}<a href="{art.catlink}">{art.cat}</a> &#8226; {/art:catlink}
			{art:alloy_rating}<img src="{art.rating_image}" class="article_rating_image" />({art.rating_num_votes}) &#8226; {/art:alloy_rating}
			{art.lhits}:&nbsp;{art.hits}
			<div style="float: right;"><a href="{art.link2}#comments">{art.lcomments}:&nbsp;{art.comments}</a></div>
		</td>
	</tr>
</table>
{/articles}
{navigation}{/navigation}