<?php
	System::admin()->AddCSSFile('login.css');
	System::admin()->AddOnLoadJS('
		(function($){
			$(".submit").button();
		})(jQuery);
	');
?>
{template}
<body>
<form action="{login.action}" method="post">
	<div class="auth_center">
			<div class="auth_form">
				<div class="auth_title"><b>{login.auth_title}</b></div>
				<div class="auth_inputs">
					{login:auth_message}<div class="auth_message">{login.auth_message}</div>{/login:auth_message}
					Ћогин:<br />
					<input type="text" name="admin_name"><br />
					ѕароль:<br />
					<input type="password" name="admin_password"><br />
					<div class="auth_submit">
						<input type="submit" value="¬ход" name="admin_login" class="submit">
					</div>
					<div style="clear: both;"></div>
				</div>
			</div>
	</div>
</form>
</body>
{/template}
