body{
	margin: 0px;
	font-family: Verdana, Tahoma, Arial, Helvetica, sans-serif;
	font-size: 11px;
	background-color: #FFF;
}

table, img, form{
	border: none;
	margin: 0;
	padding: 0;
}

input{
	color: #000000;
	border: 1px #F3F3F3 solid;
	background-color: #FCFCFC;
	width: 190px;
}

.submit{
	width: 60px;
	margin-top: 5px;
}

div.auth_center{
	position: absolute;
	left: 5px;
	top: 30%;
	bottom: 5px;
	right: 5px;
}

div.auth_message{
	color: #F00;
	padding: 5px 0 10px;
	text-align: center;
	font-weight: bold;
}

div.auth_form{
	background-color: #EEEEEE;
	border: 1px #CCCCCC solid;
	-moz-border-radius: 5px;
	border-radius: 5px;
	width: 220px;
	margin: 0px auto;

	box-shadow: 2px 2px 2px #DDD;
	-webkit-box-shadow: 2px 2px 2px #DDD;
	-moz-box-shadow: 2px 2px 2px #DDD;
}

div.auth_title{
	color: #FFF;
	background-color: #A5C0D4;
	background-image: url(../img/block_title_bg.png);
	background-repeat: repeat-x;
	border-bottom: 1px #CCCCCC solid;
	font-weight: bold;
	padding: 3px 0 4px 4px;
	text-shadow: 0px -1px 0px #85A0D4;
}
div.auth_inputs{
	width: 200px;
	padding: 5px 10px 5px 10px;
	border-top: 1px #FFF solid;
}
div.auth_submit {
	float: right;
}

div.auth_alert{
	border: 0px #CCCCCC solid;
	float:left;
	padding: 18px;
	padding-top: 8px;
	width: 64px;
}
