.pluginstable {
	width: 70%;
	margin-bottom: 10px;
	padding: 0px;
	border: 1px #ABC5D8 solid;
	border-right: none;
	border-bottom: none;
}

.pluginstable th { /* ячейки заголовков таблиц */
	color: #333383;
	background-color: #E7E7E7;
	border-bottom: 1px #ABC5D8 solid;
	border-right: 1px #ABC5D8 solid;
	height: 24px;
}

.pluginstable td { /* ячейки дл€ обычных таблиц*/
	padding: 4px;
	border-bottom: 1px #ABC5D8 solid;
	border-right: 1px #ABC5D8 solid;
	background-color: #F5F5F5;
}

#image {
	text-align: center;
}

#text {
	text-align: left;
}