<table width="100%" border="0" cellspacing="0" cellpadding="0">
	<tr>
		<td align="left">
			{cats}
			<table cellspacing="2" cellpadding="0" border="0">
				<tr>
					<td align="left">
						<table cellspacing="2" cellpadding="0" border="0">
							<tr>
								<td align="left">
									<b>{cat.icon} {cat.title}</b> ({cat.count})
								</td>
							</tr>
							<tr>
								<td>{cat.description}</td>
							</tr>
							<tr>
								<td>{cat.childs_cats}</td>
							</tr>
						</table>
					</td>
				</tr>
			</table>
			{/cats}
		</td>
	</tr>
</table>
{cat_caption}{/cat_caption}