{navigation}{/navigation}
<br />
{gallery_images}
<table border="0" cellpadding="0" cellspacing="4" width="100%" align="center" class="gallery" height="100%">
	<tr>
		<td align="center" class="gallery_image">
			<a href="{img.image_view}"> <img src="{img.thumb_src}"{img:description} title="{img.description}"{/img:description} />
			<br />
			{img.title}&nbsp({img.asize}, {img.size})</a>
			<br />
			{img.lcomments}: {img.comments}
		</td>
	</tr>
</table>
{/gallery_images}
<br />
{navigation}{/navigation}